<div class="container">
  <nav class="left-nav">
    <ul>
      <li><a (click)="mostrarVehiculos()">VEHICULOS</a></li>
      <li><a >Preferencias:</a></li>
      <li><a (click)="filtrarPorCategoriaVehiculos('auto')">Autos</a></li>
      <li><a (click)="filtrarPorCategoriaVehiculos('moto')">Motos</a></li>
      <li><a (click)="filtrarPorCategoriaVehiculos('camioneta')">Camionetas</a></li>
      <li><a (click)="filtrarPorCategoriaVehiculos('cuatriciclo')">Cuatriciclos</a></li>  
    </ul>
  </nav>
  
</div>
<div class="vehiculos-container">
  <h2>VEHICULOS EN VENTA</h2>
  <button (click)="agregarNuevoVehiculo()">Agregar Vehículo</button>
  <div *ngFor="let vehiculo of vehiculos">
    <div *ngIf="!categoriaElegida || vehiculo.tipo === categoriaElegida">
      <h3>{{ vehiculo.marca }} {{ vehiculo.modelo }}</h3>
      <p>Categoría: {{ vehiculo.tipo }}</p>
      <img *ngIf="vehiculo.imagen" [src]="vehiculo.imagen" alt="Imagen del vehículo" style="max-width: 200px;">
      <button (click)="verDetalles(vehiculo.id)">Ver detalles</button>
      <button (click)="eliminarVehiculo(vehiculo.id)">Eliminar</button>
    </div>
    <hr>
  </div>
</div>
<h3>Agregar vehiculo</h3>
<label>Tipo de Vehiculo:</label>
<br>
<input type="text" [(ngModel)]="newVehiculoTipo">
<br>
<label>Marca:</label>
<br>
<input type="text" [(ngModel)]="newVehiculoMarca">
<br>
<label>Modelo:</label>
<br>
<input type="text" [(ngModel)]="newVehiculoModelo">
<br>
<button (click)="addVehiculo()">Agregar</button>
